*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background-color: #101828;
}
.no{
    background-color: black;
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.5;
}
.header__img{
    opacity: 0.9;
    background-image: url(./images/Technology.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 36px;
    /* z-index: -10; */
}
header{
    max-width: 1200px;
    margin: auto;
    padding-bottom: 67px;
}
.header__nav{
    padding-right: 100px;
    padding-left: 70px;
    position: fixed;
    padding-top: 7px;
    align-items: center;
    margin: 0 auto;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #101828;
}
.header__nav .nav__logo{
    max-width: 100px;
    /* padding-bottom: 10px; */
}
.header__nav ul li {
    display: inline-block;
    margin: 0px 20px;
    line-height: 80px;
}
.header__nav ul li a{
    color: white;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 26px;
letter-spacing: 0.72px;
}
.header__nav ul{
    float: right;
    margin-right: 100px;
    
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.nav__media{
    display: flex;
    column-gap: 20px;
    float: right;
    margin-right: 30px;
}
.nav__media i{
    margin-top: 20px;
    color: #101828;
    font-size: 30px;
    color: white;
}
.header__nav ul li a:hover{
    color: #24b1b1;
}
.header__inf__sec2 video{
  max-width: 400px;
  width: 100%;
  border-radius: 40px;
}
.header__inf{
    display: flex;
    padding-top: 200px;
    justify-content: space-between;
    align-items: center;
}
.sec1__p1{
    color: #98A2B3;
font-family: Raleway;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 104% */
}
h1{
    background: var(--Gradient-Heading, linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
    margin-top: 20px;
}
span{
color: var(--Solid-Heading-Dark-mode, #CCC);
font-family:Raleway;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 86.667% */
}
.inf__blog{
    display: flex;
    align-items: center;
    column-gap: 9px;
}
.inf__blog p{
    background: var(--Gradient-Heading, linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px;
}
.inf__blogs{
    display: flex;
    column-gap:54px;
    margin-top: 56px;
}
h2{
    color: var(--Solid-Heading-Dark-mode, #CCC);
text-align: center;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 700;
padding-top: 100px;
text-align: center;
}
section{
    max-width: 1100px;
    margin: auto;
}
.section__catagories{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 20px;
}
.cata1{
    padding-top:30px;
    max-width: 285px;
    border-radius: 8px;
background: #D1ECFD;
text-align: center;
width: 285px;
height: 310px;
}
.cata1 p{
    color: #1E2534;
text-align: center;
font-family: Roboto;
font-size: 32px;
font-style: normal;
font-weight: 600
}
@media (max-width:996px){
    .header__nav ul li a{
        font-size: 16px;
    }
    .header__nav ul{
        margin-right: 20px;
    }
}
@media (max-width:865px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(2, 44, 83);
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .header__nav ul li a{
        color: white;
        font-size: 22px;
    }
    .header__nav ul li{
        display: block;
        margin: 50px;
        line-height: 30px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .header__inf{
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center
    }
    h1{
        text-align: center;
    }
    .sec1__p1{
        text-align: center;
    }
    .inf__blogs{
        display: flex;
        justify-content: center;
    }
    .header__inf__sec2 video{
        margin-top: 20px;
        padding: 15px;
    }
}
@media(max-width:380px){
    .inf__blogs{
        display: flex;
        column-gap: 24px;
    }
}
@media (max-width:1200px) {
    .header__nav{
        padding-left: 15px;
        padding-right: 0;
    }
    header{
        padding-left: 15px;
    }
}
html {
    scroll-behavior: smooth;
}